.cover-img img{
    filter: brightness(60%);
    filter: blur(25%);
}
.button p{
    /* text-align: center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: 30%; */
    /* margin-right: 20%; */
    /* padding-left: 30%; */
    /* padding-right: 30%; */
}
.ques-sec{
    margin-left: 10%;
    margin-right: 10%;
}
.fa-brands{
    color: white;
}
.cover-img img{
    height: 750px;
}
.sec{
    margin-top: 150px;
}